@font-face {
    font-family: 'whoismono';
    src: url('./fonts/whois-mono.eot');
    src: url('./fonts/whois-mono.eot?#iefix') format('embedded-opentype'),
        url('./fonts/whois-mono.woff') format('woff'),
        url('./fonts/whois-mono.ttf') format('truetype'),
        url('./fonts/whois-mono.svg#whoismono') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    padding: 10px;
    animation: oskarp 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes oskarp {
    from {filter: blur(40px) hue-rotate(360deg);}
    to {filter: blur(0px) hue-rotate(0deg);}
  }

main {
    margin-top: 8%;
}

h1 {
    font-family: 'whoismono';
    margin-bottom: 10%;
}

h2 {
    font-family: 'whoismono';
    margin-top: 7%;
}

p {
    margin-top: 25px;
    margin-bottom: 20px;
}

a {
    color: black;
}

a, a:visited{
	text-decoration: none;
	color: rgb(247, 87, 163);
  animation-name: out;
animation-duration: 1s;
background-color: rgba(0,50,255,0);
animation-timing-function: ease-in-out;

}

a:hover {
    color: black;
    background-color: rgb(229,228,21);
    animation-name: over;
  animation-duration: 2s;
  }
  
  @keyframes over {
    from {background-color: rgba(0,50,255,0); color: rgb(253,167,0);}
    to {background-color: rgb(229,228,21); color: black;}
  }
  
  @keyframes out {
    from {background-color: rgb(253,167,0); color: black;}
    to {background-color: rgba(0,50,255,0); color: (255, 61, 0);}
  }

::-moz-selection {
    background: rgb(232,190,213);
}

ul {
    list-style-type: none;
}

::selection {
    background: #C99BB1;
}

.container-body {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.korpus-text {
    padding: 5px;
    font-size: clamp(22px, 23px, 25px);
}

.container-space {
    padding: 5px;
}

.gradient {
    background-image: linear-gradient(#4659E1, #C99BB1, #B7D1C8, #A0FA05);
}

.courses {
    background-color: #ffdefa;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    position: fixed;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 5%;
}

.nav li {
    display: inline-block;
    padding: 0 20px;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-size: 2.5vw;
    font-weight: bolder;
}

.nav li a:hover {
    color: transparent;
    text-shadow: 0 0 3px rgb(243, 243, 168);
}


hr { 
    color: black;
    size: 5px;
}

footer {
    padding-top:10%;
}

@media only screen and (max-width: 400px) {
    .nav {
        display: none;
    }

    .box-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        height: 90px;
    }

    .box-menu span {
        display: block;
        width: 50px;
        height: 50px;
        background-color: white;
    }

    .box-menu a {
        text-decoration: none;
        font-size: 30px;
        font-weight: bolder;
        color: black;
        text-align: left;
    }

}

@media only screen and (max-width: 767px) {
    .korpus-text {
        width: 100%;
    }

    .container-space {
        display: none;
    }

    .nav {
        display: none;
    }

    .box-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        height: 90px;
    }

    .box-menu span {
        display: block;
        width: 50px;
        height: 50px;
        background-color: white;
    }

    .box-menu a {
        text-decoration: none;
        font-size: 25px;
        font-weight: bolder;
        color: black;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .korpus-text {
        width: 90%;
    }

    .container-space {
        width: 10%;
    }

    .box-menu {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .korpus-text {
        width: 70%;
    }

    .container-space {
        width: 30%;
    }

    .box-menu {
        display: none;
    }
}